@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-custom::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  border-radius: 4px;
}

.scrollbar-custom-small::-webkit-scrollbar {
  width: 8px;
  /* height: 5px; */
}

.scrollbar-custom-small::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
